{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "sort-imports": [2, {
      "ignoreCase": true,
      "memberSyntaxSortOrder": [
        "none",
        "all",
        "single",
        "multiple"
      ]
    }]
  }
}
